AnypointStudio/workspace/american/src/main/app/american.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="american-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="american-config" raml="american.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/filights" action="get" content-type="application/json" flow-ref="get:/filights:american-config"/>
        <apikit:flow-mapping resource="/filights/{fromAirport}" action="get" content-type="application/json" flow-ref="get:/filights/{fromAirport}:american-config"/>
    </apikit:config>
    <db:mysql-config name="MySQL_Configuration" host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <flow name="american-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="american-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="american-config" doc:name="APIkit Router"/>
       
    </flow>
    <flow name="american-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="american-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="american-config" doc:name="APIkit Console"/>
    </flow>
    
    <flow name="get:/filights/{fromAirport}:american-config">
        <http:listener config-ref="american-httpListenerConfig" path="/api/{flights}/{ID}" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * 
from american
where ID = #[message.inboundProperties.'http.request.uri'.ID]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\list_map_2.dwl"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	fromAirport: payload.fromAirport
}]]></dw:set-payload>
        </dw:transform-message>

    </flow>
   
</mule>
